body {
    background-color:#222222;
    /* background-image: url("./images/cork.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  */
    /* filter: blur(10px); */
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    color: #dbd8d8;
    margin: auto;
  }


  .container {
    width: 100vw;
    margin: 0 auto;
    padding: 10px;
    height: 100vh;
    background-image: url("./images/wineOnBarrel.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #383838;
  }
  .sub-container{
    width: 50%;
    margin: 0 auto;
    background-color: #6d4646;
    margin-top: 8%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
  }

  li{
    font-size: 25px;;
  }
  
  h1{
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
  h2{
    font-size: 40px;
    /* color: #383838; */
    
  }

  .mt-10{
    margin-top: -30px;
    font-size: 30px;
  }

  

  .arrow{
    font-size: 110px;
    color: #363636;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    animation: upDown 2s infinite;
    position: relative;
    margin-top: 32%;
  }

  @keyframes upDown{
    0%{top:0;}
    50%{top: -25px;}
    100%{top: 0;}
  }

  input{
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
    font-family: 'Noto Serif', serif;
    background-color: rgb(23, 24, 23);
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: none;
    border-color:none;
    outline: none;
  }
  input:focus {
    border: 3px solid rgb(206, 86, 86);
  }
  
  button {
      cursor: pointer;
      background-color: #9185a5;
      border: none;
      color: white;
      border-radius: 5px;
      font-size: 23px;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      font-family: 'EB Garamond', serif;
      font-weight: 500;
  }
  button:hover{
    box-shadow: 0px 0px 35px 5px rgba(43, 42, 42, 0.856);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
  }


  
  .sell { 
    background-color: white;
    color: #D1C4E9;
  }
  
  .ftc-intro {
    background-color:#0097A7;
    color:white;
    width:100%;
    padding:20px;
  }
  
  .form-group {
    color:#ebeeef;
    margin-left: 10%;
    
    width:50%;
    padding:30px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #704444;
    margin-bottom: 40px;
    font-weight: 500;
  }
  
  #form-title{
    margin-left: 10%;
    margin-top: 5%;
  }
  #tx-title{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .form-break {
    background-color:#0e0d0d;
    width:100%;
    padding:5px;
    border-radius: 20px;
    filter: blur(10px);
    margin-top: 10%;;

  }
  
  .horizontal-rule {
    background-color:#BDBDBD;
  }


  .data-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000;
    transition: 0.3s;
  }
  .hidden{
    display: none;
  }

  .actors{
    border-radius: 5px;
    background-color: #13121269;
    padding: 15px;

  }
  
  .numInput{
    width: 20%;
    font-size: 18px;
  }